container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_runserver:
    command: "python manage.py runserver localhost:8000"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mocha/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mocha.settings
  - option_name: AWS_SECRET_KEY
    value: Vn4/5SXCaNJ40WYU5FdbXLWVtCJwKS5q77P+Mj4c
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI4CHXJFQAD5PQOKA
